body {
    font-family: Arial, sans-serif;
}

.event-card img {
    height: 200px;
}

.user-greeting {
    font-size: 1.2em;
    
    margin: 10px 0;
}
.footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.navbar {
    background-color:#090040;
}

.navbar .nav-link {
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: 2px solid white;
    margin: 0 10px;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    width: 140px;
}

.navbar .nav-link:hover {
    color: black;
    background-color: white;
}

.navbar-toggler i {
    font-size: 29px;
    color: white;
}


.navbar .container {
    display: flex;
    align-items: center;
}


.sub-navbar {
    background: linear-gradient(to right,#5614B0,#DBD65C);
    /* Hiệu ứng gradient */
    padding: 10px 0;
    text-align: center;
}

.sub-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.sub-nav-list li {
    margin: 0 15px;
}

.sub-nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.sub-nav-list li a:hover {
    color: #FFD700;
    /* Màu vàng khi hover */
}


.search-container {
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    position: relative;
    left: 20px;
}

.search-btn {
    font-size: 18px;
    margin-left: 8px;
}

@media (max-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav .nav-item {
        width: auto;
        margin-bottom: 10px;
    }
}


.navbar-collapse {
    width: auto;
}

.openLogin {
    color: white;
    font-size: 1em;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #96e97b;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 10px;
    padding: 5px 15px;
}

.openLogin:hover {
    background-color: white;
    border: 2px solid #96e97b;
}


/*modal dăng nhập*/
.modal-header {
    text-align: center;
    position: relative;
}

.modal-header img {
    margin-top: 20px;
}

.modal-sm {
    max-width: 340px;
}

/* .modal-content {
    min-height: 500px;
} */
.header-logo {
    right: 15px;
    height: 60px;
}

.toggle-password {
    cursor: pointer;
}

.close-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: white;
}

/* Footer tổng thể */
footer {
    background-color: rgb(57, 63, 78);
    color: white;
    padding: 20px 0;
}

footer .container {
    max-width: 1300px;
    margin: auto;
}

footer .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


footer .col-lg-4 {
    margin-bottom: 50px;
}

footer p,
footer h6 {
    line-height: 1.8;
    margin-bottom: 10px;
}


.input-group {
    display: flex;
    width: 300px;
}

.input-group input {
    flex: 1;
    border: 1px solid #ccc;
    padding: 8px;
}

footer hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

footer .text {
    text-align: center;
    color: #ff672a;
}

footer .d-flex a {
    color: white;
    transition: 0.3s;
}

.input-group button {
    background-color: rgb(57, 63, 78);
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

.btn1 {
    border-radius: 5px;
}

header {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.container {

    padding-top: 0 !important;

}
.carousel-inner{
    width:100%;
}

.carousel img {
    height: 518px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-indicators button {
    border-radius: 50%;
    background-color: white;
    border: 10px solid #ff672a;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.carousel-indicators .active {
    background-color: #ff672a;
    opacity: 1;
}

.event-row {
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* Định dạng từng thẻ sự kiện */
.event-card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #222;
}

.event-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 27px;
    font-size: 30px;
    color: white;
    background-color: #222;
    height: 30px;
    top: 45%;
}

.event_type_list {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 5px solid #ff672a;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 15px;
}

.top-row {
    display: flex;
    width:100%;
    gap: 10px;
}

.top-row a{
    width:100%;
}

.top-row img {
    width: 100%;
    height: 333px;
    object-fit: cover;
    border-radius: 8px;
}

.bottom-row {
    display: flex;
    width:100%;
    gap: 10px;
}

.bottom-row a{
    width:25%;
}

.bottom-row img {
    width: 100%;
    height: 146px;
    border-radius: 8px;
}


.view-more {
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

.view-more:hover {
    text-decoration: underline;
}

.event-slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
}

.event-item {
    flex: 0 0 auto;
    width: 315px;
    scroll-snap-align: start;
    text-align: center;
}

.event-item img {
    width: 100%;
    height: 146px;
    border-radius: 12px;
    object-fit: cover;
}

.event-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}

.success-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.success-icon-box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.success-message-text {
    font-size: 15px;
    margin: 0;
}